/*
0 - 600px:       Phone
600 - 900px:     Tablet portrait
900-1200px:      Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :       Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: #333; }

.heading {
  margin-top: 3rem;
  font-size: 3.2rem;
  font-weight: 200; }

.paragraph {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 200; }

.button {
  padding: 1.7rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  background-color: #05A0B8; }

.header {
  height: 85vh;
  width: 100%;
  margin-top: -4rem;
  background-image: url("../img/header2x.png");
  background-size: cover;
  background-position: center; }

.heading-overlay {
  margin-left: 10rem;
  margin-top: 13rem;
  padding: 2rem 2rem;
  width: 50%;
  font-size: 3.4rem;
  font-weight: 200;
  color: #fff;
  background-color: rgba(5, 160, 184, 0.75); }

.heading-overlay--sub {
  margin-left: 10rem;
  margin-top: 4rem;
  padding: 2rem 2rem;
  width: 60%;
  font-size: 1.8rem;
  font-weight: 200;
  color: #fff;
  background-color: rgba(5, 127, 184, 0.75); }

.icon-menu {
  display: flex;
  justify-content: space-between;
  padding: 4rem 10rem;
  margin-top: 19rem;
  background-color: #05A0B8; }
  .icon-menu__box {
    display: flex;
    flex-basis: 40%;
    margin-right: 3rem;
    transition: .3s; }
  .icon-menu__box:hover {
    transform: translateY(-1rem); }
  .icon-menu__icon-link {
    margin-right: 1rem; }
  .icon-menu__icon {
    height: 9rem; }
  .icon-menu__link {
    margin-top: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff; }
  .icon-menu__text {
    margin-top: 1rem;
    text-decoration: none; }

.navigation {
  display: flex;
  align-items: center;
  position: relative;
  top: 4rem;
  margin: 4rem 10rem;
  height: 5rem;
  background-color: #fff; }
  .navigation a {
    text-decoration: none;
    font-family: sans-serif; }
  .navigation__logo {
    margin-right: 1rem;
    margin-left: 5rem;
    color: #333;
    font-size: 2.8rem;
    font-weight: 200;
    text-transform: uppercase; }
  .navigation__logo-sub {
    margin-right: auto;
    color: #333;
    font-size: 1.8rem;
    font-weight: 200; }
  .navigation__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 50%;
    margin-right: 5%;
    color: #333;
    font-size: 1.6rem;
    font-weight: 200;
    list-style-type: none; }
  .navigation__link {
    padding: 2rem 2rem;
    color: #333; }
  .navigation__button {
    justify-content: flex-end;
    align-self: stretch; }

.dropdown {
  z-index: 100;
  list-style-type: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1.6rem;
  display: none; }
  .dropdown__item {
    clear: both;
    width: 100%; }
  .dropdown__link {
    color: #333;
    padding: 1.5rem 2rem;
    display: inline-block;
    width: 100%; }
  .dropdown__link:hover {
    background-color: #D8D8D8;
    color: #fff; }

.navigation__item:hover > ul,
.dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  width: 13%;
  background-color: #fff; }
