/*
0 - 600px:       Phone
600 - 900px:     Tablet portrait
900-1200px:      Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :       Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.button {
  padding: 1.7rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  background-color: #05A0B8; }

.header {
  height: 70vh;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: url("../img/header2x.png");
  background-size: cover;
  background-position: center; }
  .header__box {
    position: absolute;
    left: 50%;
    transform: translate(-50%); }
  .header__heading {
    margin-bottom: 0.5rem;
    font-family: sans-serif;
    font-size: 7.6rem;
    letter-spacing: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff; }
  .header__hr {
    color: #fff; }
  .header__sub-heading {
    margin-top: 0.5rem;
    font-size: 5.2rem;
    text-transform: lowercase;
    letter-spacing: 0rem; }

.navigation {
  display: flex;
  align-items: center;
  margin: 4rem 10rem;
  height: 5rem;
  background-color: #fff; }
  .navigation a {
    text-decoration: none;
    font-family: sans-serif; }
  .navigation__logo {
    margin-right: 1rem;
    margin-left: 5rem;
    color: #333;
    font-size: 2.8rem;
    font-weight: 200;
    text-transform: uppercase; }
  .navigation__logo-sub {
    margin-right: auto;
    color: #333;
    font-size: 1.8rem;
    font-weight: 200; }
  .navigation__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 35%;
    margin-right: 7%;
    color: #333;
    font-size: 1.6rem;
    font-weight: 200;
    list-style-type: none; }
  .navigation__link {
    color: #333; }
  .navigation__button {
    justify-content: flex-end;
    align-self: stretch; }
