.footer {
    margin-top: 10rem;
    padding: 5rem 10rem 5rem;
    background-color: $color-secondary;

    &__info {
        display: flex;
    }

    &__list {
        margin-right: 6rem;
        list-style-type: none;
        font-size: 1.4rem;
        line-height: 1.5;
        color: #fff;
    }

    a {
        color: #fff;
    }
}