.footer {
    display: flex;
    justify-content: center;

    margin-top: 10rem;
    background-color: $color-secondary;

    @include respond(tab-land) {
        margin-top: 13rem;
        padding-left: 7rem;
    }

    @include respond(tab-port) {
        margin-top: 14rem;
        padding-left: 5rem;
    }

    @include respond(phone) {
        margin-top: 9rem;
    }

    &__info {
        display: flex;

        padding: 5rem 10rem;

        @include respond(tab-land) {
            padding-left: 7rem;
        }
    
        @include respond(tab-port) {
            padding-left: 5rem;
        }

        @include respond(phone) {
            display: block;
        }
    }

    &__list {
        margin-right: 6rem;
        margin-bottom: 2rem;
        list-style-type: none;
        font-size: 1.4rem;
        line-height: 1.5;
        color: #fff;

        @include respond(phone) {
           font-size: 2rem;
           

        }
    }

    a {
        color: #fff;
    }
}