.footer {
    display: flex;
    padding: $container-width;

    background-color: $color-secondary;


    &__info {
        display: flex;
    
        margin: 5rem 0;

        @include respond(tab-land) {
            padding-left: 5rem;
            padding-right: 5rem;
        }


        @include respond(phone) {
            flex-direction: column;
        }
    }

    &__list {
        margin-right: 6rem;
        margin-bottom: 2rem;
        list-style-type: none;
        font-size: 1.4rem;
        line-height: 1.5;
        color: #fff;

        @include respond(phone) {
           font-size: 2rem;
           

        }
    }

    a {
        color: #fff;
    }
}