.header {
    height: 75vh;
    width: 100%;
    margin-top: -4rem;
    background-image: url("../img/header2x.png");
    background-size: cover;
    background-position: center;

    padding: 0 calc(50% - 480px);

    @include respond(tab-land) {
        height: 75vh;
    }

    @include respond(tab-port) {
        height: 65vh;
    }
}

.heading-overlay {
    //margin-left: 10rem;
    //margin: 0 calc(50% - 480px);
    margin-top: 13rem;
    padding: 2rem 2rem;
    width: 50%;
    font-size: 3.4rem;
    font-weight: 200;
    color: #fff;
    background-color: rgba($color-primary, $alpha: .75);

    @include respond(tab-land) {
        margin-left: 5rem;
        margin-right: 5rem;
        width: 55%;
        font-size: 3rem;
    }

    @include respond(tab-port) {
        width: 65%;
        font-size: 2.8rem;
    }

    @include respond(phone) {
        width: 100%;
        font-size: 2.4rem;
    }
}

.heading-overlay--sub {
    //margin-left: 10rem;
    //margin: 0 calc(50% - 480px);
    margin-top: 4rem;
    padding: 2rem 2rem;
    width: 60%;
    font-size: 1.8rem;
    font-weight: 200;
    color: #fff;
    background-color: rgba($color-secondary, $alpha: .75);

    @include respond(tab-land) {
        margin-left: 5rem;
        margin-right: 5rem;
        width: 65%;
    }

    @include respond(tab-port) {
        width: 75%;
    }

    @include respond(phone) {
        font-size: 1.6rem;
        line-height: 1.6;
        width: 100%;
    }
}