.navigation {
    display: flex;
    align-items: center;

    margin: 4rem 10rem;
    height: 5rem;
    background-color: #fff;

    & a {
        text-decoration: none;
        font-family: sans-serif;
    }

    &__logo {
        margin-right: 1rem;
        margin-left: 5rem;
        color: #333;
        font-size: 2.8rem;
        font-weight: 200;
        text-transform: uppercase;
    }

    &__logo-sub {
        margin-right: auto;
        color: #333;
        font-size: 1.8rem;
        font-weight: 200;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0 0 35%;
        
        margin-right: 7%;
        color: #333;
        font-size: 1.6rem;
        font-weight: 200;
        list-style-type: none;
    }

    &__link {
        color: #333;
    }

    &__button {
        justify-content: flex-end;
        align-self: stretch;
    }
}