.navigation {
    display: flex;
    align-items: center;

    position: relative;
    top: 4rem;
    margin-top: 4rem;
    height: 5rem;
    background-color: #fff;

    @include respond(tab-land) {
        margin: 4rem 5rem;
    }

    @include respond(tab-port) {
        margin: 3rem 5rem;
        background-color: transparent;
    }

    & a {
        text-decoration: none;
        font-family: sans-serif;
    }

    &__logo {
        margin-right: 1rem;
        margin-left: 5rem;
        color: #333;
        font-size: 2.8rem;
        font-weight: 200;
        text-transform: uppercase;

        @include respond(tab-port) {
            color: $color-primary;
            margin-left: 0;
        }

        @include respond(phone) {
            margin-left: 1.5rem;
        }
    }

    &__logo-sub {
        margin-right: auto;
        color: #333;
        font-size: 1.8rem;
        font-weight: 200;

        @include respond(tab-port) {
            color: #fff;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0 0 50%;
        
        margin-right: 5%;
        color: #333;
        font-size: 1.6rem;
        font-weight: 200;
        list-style-type: none;

        @include respond(tab-port) {
            display: none;
        }
    }

    &__link {
        padding: 2rem 2rem;
        color: #333;

        @include respond (tab-land) {
            padding: 2rem 1.5rem;
        }

        @include respond (tab-port) {
            padding: 5rem 1rem;
        }
    }

    &__button {
        justify-content: flex-end;
        align-self: stretch;

        @include respond(tab-port) {
            display: none;
        }
    }

}
   
   .dropdown {
        z-index: 100;
        list-style-type: none;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1.6rem;
        display: none;

        @include respond(tab-port) {
            display: none;
        }

        &__item {
            clear: both;
            width: 100%;

            @include respond(tab-port) {
                display: none;
            }
        }

        &__link {
            color: #333;
            padding: 1.5rem 2rem;
            display: inline-block;
            width: 100%;
        }

        &__link:hover {
            background-color: #D8D8D8;
            color: #fff;
        }
    }
   
   .navigation__item:hover > ul,
   .dropdown:hover {
     visibility: visible;
     opacity: 1;
     display: block;
     width: 13%;
     //padding: 1.5rem;
     background-color: #fff;
   }

//MOBILE NAVIGATION

.mobile-nav {
    display: none;

    @include respond(tab-port) {
        display: block;
    }

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: #fff;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 3rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 1000;
        text-align: center;
        cursor: pointer;
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 3.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary, $color-secondary);
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

        //transform: scale(80);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 500;

        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 2rem;
    }

    &__link {
        &:link,
        &:visited {
            font-size: 3rem;
            font-weight: 300;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
        }

        &:hover,
        &:active {
            font-weight: 400;
        }
    }

    //FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    //ICON
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: #666;
            display: inline-block;
        }

        &::before,
        &::after {
            position: absolute;
            left: 0;
            content: "";
            display: inline-block;
            transition: all .2s;
        }

        &::before { top: -.8rem; }

        &::after { top: .8rem; }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}