.navigation {
    display: flex;
    align-items: center;

    position: relative;
    top: 4rem;
    margin-top: 4rem;
    height: 5rem;
    background-color: #fff;

    @include respond (tab-land) {
        margin: 4rem 5rem;
    }

    @include respond (tab-port) {
        margin: 3rem 5rem;
    }

    & a {
        text-decoration: none;
        font-family: sans-serif;
    }

    &__logo {
        margin-right: 1rem;
        margin-left: 5rem;
        color: #333;
        font-size: 2.8rem;
        font-weight: 200;
        text-transform: uppercase;

        @include respond(phone) {
            margin-left: 1.5rem;
        }
    }

    &__logo-sub {
        margin-right: auto;
        color: #333;
        font-size: 1.8rem;
        font-weight: 200;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0 0 50%;
        
        margin-right: 5%;
        color: #333;
        font-size: 1.6rem;
        font-weight: 200;
        list-style-type: none;

        @include respond(phone) {
            display: none;
        }
    }

    &__link {
        padding: 2rem 2rem;
        color: #333;

        @include respond (tab-land) {
            padding: 2rem 1.5rem;
        }

        @include respond (tab-port) {
            padding: 2rem 1rem;
        }
    }

    &__button {
        justify-content: flex-end;
        align-self: stretch;

        @include respond(phone) {
            display: none;
        }
    }
}


   
   .dropdown {
        z-index: 100;
        list-style-type: none;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1.6rem;
        display: none;

        &__item {
            clear: both;
            width: 100%;
        }

        &__link {
            color: #333;
            padding: 1.5rem 2rem;
            display: inline-block;
            width: 100%;
        }

        &__link:hover {
            background-color: #D8D8D8;
            color: #fff;
        }
    }
   
   .navigation__item:hover > ul,
   .dropdown:hover {
     visibility: visible;
     opacity: 1;
     display: block;
     width: 13%;
     //padding: 1.5rem;
     background-color: #fff;
   }


//MOBILE NAVIGATION

.navigation-mobile {
    display: none;

    @include respond(phone) {
        display: flex;
        flex-direction: column;
    }

    &__toggle {
        display: block;
        position: relative;
        top: .3rem;
        right: 1.2rem;
  
        z-index: 1;
  
        -webkit-user-select: none;
        user-select: none;
    }

    &__toggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
  
        cursor: pointer;
  
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
  
        -webkit-touch-callout: none;
    }

    /*
    * Just a quick hamburger
    */
    &__toggle span  {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
  
        background: #666;
        border-radius: 3px;
  
        z-index: 1;
  
        transform-origin: 4px 0px;
  
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}

    &__toggle span:first-child  {
        transform-origin: 0% 0%;
    }

    &__toggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */

    &__toggle input:checked ~ span  {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #fff;
    }

    /*
     * But let's hide the middle one.
     */
    &__toggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
     * Ohyeah and the last one should go the other direction
    */
    &__toggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
     * Make this absolute positioned
     * at the top left of the screen
     */

    &__list {
        position: absolute;
        width: 55rem;
        height: 130vh;
        margin-top: -10rem;
        margin-left: -42rem;
        padding: 5rem;
        padding-left: 15rem;
        padding-top: 12.5rem;
  
        background: $color-primary;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
  
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
  
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    &__list li  {
        padding: 10px 0;
        font-size: 22px;
    }

    &__item {
        padding-bottom: 2rem;
    }

    &__link {
        color: #fff;
    }

    /*
     * And let's slide it in from the left
     */
    &__toggle input:checked ~ ul    {
        transform: none;
    }

}

