.heading {
    margin-top: 3rem;
    font-size: 3.2rem;
    font-weight: 200;

    @include respond(tab-port) {
        margin-top: 2rem;
        font-size: 2.8rem;
    }

    @include respond(phone) {
        margin-top: 1rem;
        font-size: 2.4rem;
    }
}

.paragraph {
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 200;

    @include respond (tab-port) {
        margin-top: 1.5rem;
        font-size: 1.6rem;
    }

    @include respond (tab-port) {
        margin-top: 1rem;
        font-size: 1.4rem;
    }
}