.section-gallery {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 0 calc(50% - 480px);
}

.gallery {
    display: flex;
    flex-wrap: wrap;

    @include respond(tab-land) {
        padding-left: 5rem;
        padding-right: 5rem;
    }


    &__img {
        padding: .5rem;
       // width: 20%;
        height: 22rem;
        transition: 1s;

        @include respond(tab-port) {
            height: 15rem;
        }

        @include respond(phone) {
            height: 38rem;
        }
    }

    &__vid {
        padding: .5rem;
       // width: 20%;
        height: 22rem;
        transition: 1s;

        @include respond(tab-port) {
            height: 15rem;
        }

        @include respond(phone) {
            height: 22rem;
        }
    }

    &__img:hover, &__vid:hover {
        transform: translateY(.3rem);
    }
}
