.section-gallery {
    margin-top: 20rem;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    padding-left: 10rem;
    padding-right: 10rem;
    width: 100%;

    @include respond(tab-land) {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    @include respond(tab-port) {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    &__item {
        margin: 1em;
    }


    &__img {
        padding: .5rem;
       // width: 20%;
        height: 22rem;
        transition: 1s;
    }

    &__img:hover {
        transform: scale(1.1);
    }
}
